body {
	background-color: #f8f9fa !important;
	overflow: visible !important;
}

img {
	max-width: 100%;
}

#profile-wrapper {
	text-align: center;
}

#profile-pic {
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 300px;
	border-radius: 100%;
}

.social-links {
	display: inline-block;
	padding: 0;
	list-style-type: none;
}
.achievements {
	list-style-type: disc;
}

.social {
	width: 30px;
	height: 30px;
}

.tabcontent {
	display: none;
}
